@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">
    <div class="row">
        <div class="cell-8"></div>
        <div class="cell-8"></div>
        <div class="cell-8"></div>
        <div class="img-container">
            <img src="~/Resources/index_img.png">
            <div class="image-overlay op-white">
                <div class="row flex-justify-center flex-align-center">
                    <button class="button primary large rounded cell-2" style="z-index: 1;margin-top:30%" onclick="document.location='/Home/GenerateGameEvent'">Start Game</button>
                </div>
            </div>
        </div>
    </div>
</div>

