
@{
    ViewBag.Title = "DbError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bebra happened! Return to homepage</h2>
@Html.ActionLink("Home", "Index", "Home")

<script type="text/javascript" language="javascript">
function DisableBackButton() {
  window.history.forward()
}
DisableBackButton();
window.onload = DisableBackButton;
window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
window.onunload = function() { void (0) }
</script>
